<div class="widget-wrap">
  <h3 class="widget-title">我的微博</h3>
  <div class="widget">
    <iframe width="100%" height="<%= theme.weibo.height %>" class="share_self"  frameborder="0" scrolling="no" src="<%= theme.weibo.url %>"></iframe>
  </div>
</div>